:root {
    font-size: 16px;
    font-family: "fusion-pixel10-monospaced";
    // color: #c7ece6;
    color: green;
    // background-color: green;
    // background-color: #7247cb;
    background-color: #070707;
    line-height: 1.5rem;

    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    *::-webkit-scrollbar-thumb {
        // background-color: #997ce2;
        
        background-color: #c0c0c0;
    }
}

a:visited {
    color: inherit;
}

@font-face {
    font-family: fusion-pixel10-monospaced;
    src: url("/fonts/fusion-pixel-10px-monospaced-zh_hans.woff2");

    // src: url("https://cdn.jsdelivr.net/gh/tsukiseele/resource/fonts/fusion-pixel-10px-monospaced-zh_hans.woff2");
}


img {
    // filter: brightness(.8);
}
ul {
    list-style: none;
}

// ul {
//     list-style: none;

//     >li {
//         &::before {
//             content: "·";
//         }
//     }
// }

iframe {
    display: block;
}